<!-- Slideshow container -->
<div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
    <div class="numbertext">1 / 9</div>
    <img src="assets/1b7d4529aabb98aab2bd02ef3fff8826.jpg" style="width:670px">
    <div class="text">Caption Text</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 9</div>
    <img src="assets/5e2155487ea1318c27fad9c31275aeb9.jpg" style="width:670px">
    <div class="text">Caption Two</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">3 / 9</div>
    <img src="assets/92fb6afc207d9c8c1f01edc512dfd0d3.jpg" style="width:670px">
    <div class="text">Caption Three</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">4 / 9</div>
    <img src="assets/5323d52cc8c762eea0b5448b4525c85b.jpg" style="width:670px">
    <div class="text">Caption Three</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">5 / 9</div>
    <img src="assets/article-2352677-1A9B859E000005DC-732_634x861.jpg" style="width:670px">
    <div class="text">Caption Three</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">6 / 9</div>
    <img src="assets/Bigotti_A.jpg" style="width:670px">
    <div class="text">Caption Three</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">7 / 9</div>
    <img src="assets/Bigotti_dec16.jpg" style="width:670px">
    <div class="text">Caption Three</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">8 / 9</div>
    <img src="assets/gucci4.jpg" style="width:670px">
    <div class="text">Caption Three</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">9 / 9</div>
    <img src="assets/M_Id_442605_Lady_Gaga.jpg" style="width:670px">
    <div class="text">Caption Three</div>
  </div>

  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
  <span class="dot" onclick="currentSlide(4)"></span>
  <span class="dot" onclick="currentSlide(5)"></span>
  <span class="dot" onclick="currentSlide(6)"></span>
  <span class="dot" onclick="currentSlide(7)"></span>
  <span class="dot" onclick="currentSlide(8)"></span>
  <span class="dot" onclick="currentSlide(9)"></span>
  <span class="dot" onclick="currentSlide(10)"></span>
</div>
