<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #userEdit="ngForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" [(ngModel)]="user.email"
               class="form-control"
               id="email"
               name="email"
               placeholder="Enter your email"
               required #email="ngModel">
      </div>
      <div [hidden]="!email.pristine" class="alert alert-danger">Email is required</div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="text" [(ngModel)]="user.password"
               class="form-control"
               id="password"
               name="password"
               placeholder="Enter your password"
               required #password="ngModel">
        <div [hidden]="!password.pristine" class="alert alert-danger">Password is required</div>
      </div>
      <div class="form-group">
        <label for="logo">Logo</label>
        <input type="text" [(ngModel)]="user.logo"
               class="form-control"
               id="logo"
               name="logo"
               placeholder="Enter your logo"
               required #logo="ngModel">
        <div [hidden]="!logo.pristine" class="alert alert-danger">Logo is required</div>
      </div>
      <div class="form-group">
        <label for="channel">Channel</label>
        <input type="text" [(ngModel)]="user.channel"
               class="form-control"
               id="channel"
               name="channel"
               placeholder="Enter your channel"
               required #channel="ngModel">
        <div [hidden]="!channel.pristine" class="alert alert-danger">Channel is required</div>
      </div>

      <div class="btn-group">
        <a (click)="goToUserList()"
           class="btn btn-secondary mx-1">Back
        </a>
        <button type="submit" [disabled]="!userEdit.form.valid"
                class="btn btn-info">Submit
        </button>
      </div>
    </form>
  </div>
</div>

