<nav id="nav" class="navbar navbar-expand-sm navbar-light">

  <a id="home" href="http://localhost:4200"><i class="fa fa-fw fa-home"></i> Home</a>
  <a id="Explore" href="/userview"><i class="fa fa-fw fa-globe-europe"></i> Explore</a>

  <a id="a" href="http://localhost:4200" class="navbar-brand text-white">
    <h1>Online Store</h1>
  </a>
  <a id="help" href="https://www.bolf.ro/FAQ-cterms-rum-1375.html"><i class="fas fa-question"></i> Help</a>
  <a id="contact" href="/contactForm"><i class="fa fa-fw fa-envelope"></i> Contact</a>
  <div class="btn-group">
  <a id="login" href="/login"><i class="fa fa-fw fa-user"></i> Login</a>
  <a id="register" href="/addUser">Register</a>
  </div>
</nav>

