<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th class="align-middle" scope="col">Id</th>
        <th class="align-middle" scope="col">Name</th>
        <th class="align-middle" scope="col">Parent</th>
        <th class="align-middle" scope="col">
          <div class="row d-flex align-items-center">
            <div class="col">
              Operations
            </div>
            <div class="col">
              <button (click)="addCategory()" class="btn btn-success">Add Category</button>
            </div>
          </div>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let category of categories">
        <td>{{ category.id }}</td>
        <td>{{ category.name }}</td>
        <td>{{ category.children}}</td>

        <td>
          <div class="btn-group">
            <button (click)="editCategory(category.id)" class="btn btn-primary mx-1">Edit</button>
            <button (click)="deleteCategory(category.id)" class="btn btn-danger">Delete</button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>




