
<h1 id="products">Products</h1>
  <div class="col">
            <div class="input-group">
              <input type="text" [(ngModel)]="searchValue" class="form-control">
          <button (click)="addProduct()" class="btn btn-success">+
          </button>
            </div>

    <div class="card">
      <img src="https://media.gucci.com/style/DarkGray_Center_0_0_1200x1200/1599566406/636391_ZAFKX_7294_002_100_0000_Light-FakeNot-print-GG-nylon-jacket.jpg" alt="Denim Jeans" style="width:100%">
      <h1>Gucci Jacket</h1>
      <p class="price">$1300.0</p>
      <p>Fake/Not' print GG nylon jacket</p>
      <p><button>Add to Cart</button></p>
    </div>

      <div id="div" *ngFor="let product of products | filter: searchValue | paginate : {itemsPerPage: numberOfItemsPerP, currentPage: p}">
        <td>
   <div class="card">
     <img src="assets/download.png" style="width:100%">
     <h1>{{ product.name }}</h1>
     <p class="price">${{ product.price }}</p>
     <p>{{ product.manufacturerDto.name }}.</p>
     <p>{{ product.categoryDto.name }}.</p>
     <p><button>Add to Cart</button></p>
     <div class="btn-group">
       <button id="edit" (click)="editProduct(product.id)" class="btn btn-outline-primary">Edit</button>
       <button id="delete"(click)="open(content, product.id)" class="btn btn-outline-danger">Delete</button>
     </div>
   </div>



  </td>
  </div>



    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirm dialog</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12 text-center">
        Are you sure you want to delete this item?
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('Delete click')">Delete</button>
  </div>
</ng-template>

